.container {
  display: flex;
  margin-left: 3%;
  padding-top: 20px;
  margin-bottom: 20px;
}
.card {
  margin-left: 2% !important;
  background-color: lightslategray;
}
a {
  color: white !important;
  font-size: 30px;
  text-decoration: underline;
  /* text-align: center;
  margin-left: 40%; */
}
.card-body {
  text-align: center;
}
