<div class="footer" style="margin-top:40px">
    <!--<hr style="border-top:1px solid black;margin-top:10px" class="col-10" />-->
    <div id="footer" class="footer">

        <div class="linkGroup col-7 dlinkGroup">
            <div class="link dlink">
                <a href="#" style="color:white" class="anchorFooter"><b style="color:white">Explore</b></a>

            </div>
            <div class="link dlink">
                <a href="#" style="color:white" class="anchorFooter"><b style="color:white">Services</b></a>

            </div>
            <div class="link dlink">
                <a href="#" style="color:white" class="anchorFooter"><b style="color:white">Legal</b></a>

            </div>
            <div class="link dlink">
                <a href="#" style="color:white" class="anchorFooter"><b style="color:white">Help</b></a>

            </div>
        </div>
        <div class="linkGroup col-7 dlinkGroup">
            <div class="link dlink">
                <a href="#" class="anchorFooter">Home</a>

            </div>

            <div class="link dlink">
                <a href="#" class="anchorFooter">Horoscope</a>

            </div>
            <div class="link dlink">
                <a href="#" class="anchorFooter">Fraud Alert</a>

            </div>
            <div class="link dlink">
                <a href="#" class="anchorFooter">Contact Us</a>

            </div>
        </div>
        <div class="linkGroup col-7 dlinkGroup">
            <div class="link dlink">
                <a href="#" class="anchorFooter">Success Stories</a>

            </div>

            <div class="link dlink">
                <a href="#" class="anchorFooter">Match Making</a>

            </div>
            <div class="link dlink">
                <a href="#" class="anchorFooter">Terms to Use</a>

            </div>
            <div class="link dlink">
                <a href="#" class="anchorFooter">Feedback/Queries</a>

            </div>
        </div>
        <div class="linkGroup col-7 dlinkGroup">
            <div class="link dlink">
                <a href="#" class="anchorFooter">Leadership Team</a>

            </div>

            <div class="link dlink">
                <a href="#" class="anchorFooter"></a>

            </div>
            <div class="link dlink">
                <a href="#" class="anchorFooter">Privacy Policies</a>

            </div>
            <div class="link dlink">
                <a href="#" class="anchorFooter"></a>

            </div>
        </div>


    </div>


    <hr style="border-top:1px solid white;margin-top:10px" class="col-10">

    <div style="text-align:center;font-size:small;margin-top:10px;color:white">CopyRight@JodiMakers 2017. All Rights Reserverd</div>

</div>
