<div class="modal-header">
        <h4 class="modal-title">Batch Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
          <div>
            
            <form  #heroForm="ngForm">
              <div class="form-group">
                <label for="name">Batch Name</label>
                <input type="text" class="form-control" id="name"
                       required
                       [(ngModel)]="model.BatchName" name="name"
                       #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                     class="alert alert-danger">
                  Name is required
                </div>
              </div>
        
              <div class="form-group">
                    <label for="dateOfJoining">Start Date</label>
                    <input type="date" class="form-control" id="dateOfJoining"
                           [(ngModel)]="model.BatchStartDate" name="dateOfJoining">
                  </div>
                  <div class="form-group">
                        <label for="FeesPaid">Module Name</label>
                        <input type="text" class="form-control" id="FeesPaid"
                               [(ngModel)]="model.ModuleName" name="FeesPaid">
                      </div>
                      <div class="form-group">
                            <label for="instructorName">Instructor Name</label>
                            <input type="text" class="form-control" id="instructorName"
                                   [(ngModel)]="model.Instructorname" name="instructorName">
                          </div>
        
              <div class="form-group">
                <label for="power">Module Name</label>
                <select class="form-control" id="power"
                        required
                        [(ngModel)]="model.ModuleId" name="power"
                        #power="ngModel">
                  <option *ngFor="let module of moduleDetails" [value]="module.ModuleId">
                      {{module.ModuleName}}</option>
                </select>
                 
                </div>
                
              
              
                    
                       
                       
                        <ngb-alert [type]="success" *ngIf="flagSuccess" class="alert alert-success alert-dismissible" (close)="close(alert)">Student Deatils Saved</ngb-alert>
                            <ngb-alert [type]="danger" *ngIf="flagError" (close)="close(alert)">Some Thing went wrong</ngb-alert>
                        <div class="modal-footer">
                            
                            <button type="submit" class="btn btn-success" (click)="updateBatches()">Submit</button>
                            
                          <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Close</button>
                        </div>
              
            </form>
          </div>
        
          
        