<!--Page Footer-->
<footer
  class="ns-footer-warpper"
  style="background-color: rgba(0, 0, 24, .8);color: white;margin-top: 200px;margin-bottom:-20px"
>
  <div
    class="container ns-full-width footer-container "
    style="padding-top:50px"
  >
    <div class="row ">
      <div class="col-md-3 col-sm-12 footer-col footer-col-1 ">
        <div class="footer-address ">
          <h4 class="address-title ">HSR Layout Office</h4>
          <p class="address ">
            3rd Floor, Startup Huts, 27th Main Road, Sector 2, HSR Layout,
            Bengaluru, Karnataka 560102
          </p>
        </div>
        <div class="gap-10 "></div>

        <div class="footer-address ">
          <h4 class="address-title ">BTM Layout Office</h4>
          <p class="address ">
            No 7, 2nd Floor, 100 Ft. Ring Road, BTM Layout 2nd Stage, Bangalore
            - 560076, Btm Water Tank Bus Stop
          </p>
        </div>
        <div class="gap-30 "></div>

        <!-- <div class="footer-contact ">
					<h4 class="contact-title ">Contacts</h4>
					<div class="gap-15 ">
						<p class="footer-email ">
							<span class="glyphicon glyphicon-envelope " aria-hidden="true "></span>&nbsp;
							info@newstein.in</p>
						<p class="footer-phone ">
							<span class="glyphicon glyphicon-earphone " aria-hidden="true "></span>&nbsp; 8618050662</p>
					</div>
				</div> -->
      </div>
      <div class="col-md-3 col-sm-12 footer-col footer-col-2 ">
        <div class="footer-social ">
          <h4 class="social-title ">Social Links</h4>
          <div class="gap-15 ">
            <p class="footer-social-link ">
              <a
                href="https://www.facebook.com/NewsteinSoftware/ "
                target="_blank "
              >
                <img
                  src="assets/img/fb.png
					    "
                  class="footer-social-icon "
                  alt="Facebook "
                />&nbsp; Facebook</a
              >
            </p>

            <p class="footer-social-link ">
              <a href="https://twitter.com/NewsteinTech " target="_blank ">
                <img
                  src="assets/img/twitter.png
					    "
                  class="footer-social-icon "
                  alt="Twitter "
                />&nbsp; Twitter</a
              >
            </p>

            <p class="footer-social-link ">
              <a
                href="https://www.linkedin.com/company/newstein-software-private-limited/
					    "
                target="_blank "
              >
                <img
                  src="assets/img/linkedin.png "
                  class="footer-social-icon "
                  alt="Linkedin "
                />&nbsp; Linkedin</a
              >
            </p>

            <p class="footer-social-link ">
              <a
                href="https://www.youtube.com/channel/UC3NwA2eKPUXT9sL4ks-LqDA "
                target="_blank
					    "
              >
                <img
                  src="assets/img/youtube.png "
                  class="footer-social-icon "
                  alt="Youtube "
                />&nbsp; Youtube</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 footer-col footer-col-3 ">
        <h4 class="newsletter-title ">Contacts</h4>
        <div class="gap-15 ">
          <p class="footer-email ">
            <span
              class="glyphicon glyphicon-envelope "
              aria-hidden="true "
            ></span
            >&nbsp; info@newstein.in
          </p>
          <p class="footer-phone ">
            <span
              class="glyphicon glyphicon-earphone "
              aria-hidden="true "
            ></span
            >&nbsp; 8618050662
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 footer-col footer-col-4 ">
        <div class="footer-imp-links ">
          <h4 class="link-title ">- Powered by</h4>
          <div class="gap-15 ">
            <p class="footer-social-link ">
              <a
                href="https://www.newstein.in"
                target="_blank
					    "
              >
                <img
                  src="/assets/img/logo4.png "
                  class="footer-social-icon "
                  alt="Youtube "
                  style="width:150px;height:50px"
                />&nbsp;
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--End Page Footer-->
<!-- <footer class="blockquote-footer fixed-bottom text-center bg-dark">
          <span style="color:white">2017-2019  &copy;VAGL Technologies   All copy right reserved.</span>  
      
      </footer> -->
