<div class="app-sidebar hight-one sidebar-slide-left app-sidenav">
  <div class="text-right">
    <button type="button" class="btn btn-sidebar" data-dismiss="sidebar">
      <span class="x"></span>
    </button>
  </div>

  <div id="sidebar" class="sidebar-nav">
    <div class="sidebar-nav-group">
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        class="nav-link"
        ><span class="nav-link-text">Home</span></a
      >
    </div>
    <div class="sidebar-nav-group">
      <a
        routerLink="/admin/candidates"
        routerLinkActive="active"
        class="nav-link"
        ><span class="nav-link-text">Students Details</span></a
      >
    </div>
    <!-- <div class="sidebar-nav-group ">
      <a routerLink="/admin/batches" routerLinkActive="active" class="nav-link"
        ><span class="nav-link-text">Fees Management</span></a
      >
    </div> -->
    <div class="sidebar-nav-group">
      <a routerLink="/admin/batches" routerLinkActive="active" class="nav-link"
        ><span class="nav-link-text">Batch Details</span></a
      >
    </div>

    <div class="sidebar-nav-group">
      <a routerLink="/admin/finances" routerLinkActive="active" class="nav-link"
        ><span class="nav-link-text">Finances</span></a
      >
    </div>
    <!-- <div class="sidebar-nav-group">
      <a href="#content" class="nav-link"
        ><span class="nav-link-text">Reports</span></a
      >
    </div>
    <div class="sidebar-nav-group">
      <a href="#content" class="nav-link"
        ><span class="nav-link-text">Settings</span></a
      >
    </div> -->
  </div>
</div>
