<nav
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
  style="background-color:rgb(0,192,157) !important;height: 50px !important;"
>
  <!-- <div class="col-sm-6 ">
        <a href="/">
          <img class="logo_image" src="./../../../../assets/img/NCAT4.png" />
        </a>
      </div> -->
  <div>
    <span
      style="  font-size: 30px;
        font-weight: bolder;
        color: white;
        padding-top: 20px;
        font-style: italic;"
      >NLMP
    </span>
    <sup>Powered by &reg; Newstein</sup>
  </div>
  <!-- <span class="navbar-text nav-item" *ngIf="navService.soLogin" style="margin-left:200px">
        <a class="nav-link" style="color:white !important">Email: info@newstein.in   Call: 8618050662</a>
      </span> -->
  <a href="/" class="logo_Style">
    <!-- <img class="logo_image img-height" alt="NCAT" src="./../../../../assets/img/NCAT41S.png" /> -->
  </a>
  <!-- <a class="navbar-brand" routerLink=''>SWP Work Flow</a> -->
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
          <a class="nav-link" routerLink='/book'>Book New Test</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" routerLink='/questions'>Questions</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
    </ul>
  </div>
</nav>
<nav
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark nav-fix"
  style="padding-top: 10px;"
>
  <!-- <div class="col-sm-6 ">
        <a href="/">
          <img class="logo_image" src="./../../../../assets/img/NCAT4.png" />
        </a>
      </div> -->
  <a href="/" class="logo_Style">
    <img
      class="logo_image img-height"
      src="./../../../../assets/img/logo4.png"
      style="padding-top: 20px;"
    />
  </a>
  <!-- <a class="navbar-brand" routerLink=''>SWP Work Flow</a> -->
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse nav-padding" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
          <a class="nav-link" routerLink='/book'>Book New Test</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" routerLink='/questions'>Questions</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
    </ul>

    <span class="navbar-text nav-item">
      <a class="nav-link" href="https://newstein.in">Newstein</a>
    </span>
    <span class="navbar-text nav-item">
      <a
        class="nav-link"
        href="https://newstein.in/full-stack-training-in-bangalore"
        >Full Stack Courses</a
      >
    </span>
    <span class="navbar-text nav-item">
      <a class="nav-link" href="https://newstein.in">Frontend Courses</a>
    </span>

    <span class="navbar-text nav-item">
      <a class="nav-link" href="https://newstein.in">Backend Courses</a>
    </span>
  </div>
</nav>
