body {
}

body{
    background-color:lightgray;
}
* {
    box-sizing: border-box;
}
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 10%;}
    .col-2 {width: 20%;}
    .col-3 {width: 30%;}
    .col-4 {width: 40%;}
    .col-5 {width: 50%;}
    .col-6 {width: 60%;}
    .col-7 {width: 70%;}
    .col-8 {width: 80%;}
    .col-9 {width: 90%;}
    .col-10 {width: 100%;}
    
    .col-11 {width: 4%;}

    
    .col-12 {width: 15%;}
    .duserDetails{
    clear:both;
    float:left;
    background-color:#405765;
    /*height:120px;*/
    width:80% !important;
    margin-top:30px;

}
    .dlinkGroup{
    float:left;
    clear:both;
    margin-left:10%;
}
    .sliderVendorProfile{
    clear:both;
    float:left;
    margin-top:20px;
    margin-left:8%;
    margin-top:100px;
}
    .sliderButton
    {
    float:left;
    margin-left:2%;
    width:4%;
    margin-top:20px;
}
    .data1{
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding-left:20px;
}
    
}
.headerTop{
    
    height:300px;
    background-image:url(../../Images/header.jpg);
}
./*userOverview{
    width:70%;
    height:100px;
    margin-top:50px;
    float:left;
    background-color:rebeccapurple;
    margin-right:10%;
}
.logoSite{
    float:left;
    width:12%;
    height:100px;
    margin-left:8%;
     margin-top:50px;
}*/
.userDetails{
    clear:both;
    float:left;
    background-color:#405765;
    /*height:120px;*/
    width:100%;
    margin-top:30px;

}
.userImage{
    float:left;
    margin:20px;
    width:15%;

}
.img{
    height:80px;
    width:80px;
}
.userData{
    width:60%;
    float:left;
    margin-top:20px;
}
.data{
   
    float:left;
    width:50%;
    color:white;
}
.data2{
    float:left;
    width:35%;
    color:white;
    margin-top:10px;
    
}
.sliderVendorProfile{
    clear:both;
    float:left;
    margin-top: 50px !important;
    /*margin-left:8%;*/
    margin-top:100px;
}
.Vendorprofile{
    float:left;
    margin-left:2%;
    width:20%;
    background-color:white;
}
.venProImage{
    /*clear:both;*/
}
.sliderButton{
    float:left;
    /*margin-left:2%;*/
    width:4%;
    margin-top:60px;
}
.data1{
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
   
}
.venProfileData{
   
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.modal-header{
    background-color:royalblue;
    color:white;
}

